<h3>formulaire</h3>

<form action="/mesdonnees" method="post">
<input type="text" name="nom" placeholder="votre nom">
<input type="text" name="prenom" placeholder="votre nom de famille">
<input type="text" name="adresse" placeholder="votre adresse">
<input type="submit" value="envoyer">
</form>
